{% extends 'base.html' %}

{% block content %}
<div class="bg-white text-black rounded-lg shadow-md p-8">
    <h1 class="text-4xl font-bold mb-4">"Let food be your medicine"</h1>
    <h2 class="text-2xl font-semibold mb-4">Selamat Datang di Vegan Fresh!</h2>
    <p class="text-xl mb-4">
        Kami adalah platform penjualan sayuran segar yang berkomitmen untuk menyediakan produk
        berkualitas tinggi langsung dari petani lokal ke meja Anda.
    </p>
    <p class="text-xl mb-4">
        Dengan fokus pada kesegaran dan keberlanjutan, kami ingin membantu Anda
        menjalani gaya hidup sehat dengan pilihan makanan alami dan organik.
    </p>
    <h3 class="text-2xl font-semibold mb-4">Cerita Kami...</h3>
    <p class="text-xl mb-4">
        Misi kami adalah memberikan akses mudah ke sayuran segar dan sehat bagi
        setiap keluarga, sambil mendukung petani lokal dan mendorong praktik pertanian
        yang ramah lingkungan.
    </p>
    <p class="text-xl mb-4">
        Kami percaya bahwa makanan yang sehat adalah fondasi untuk hidup yang bahagia
        dan berkualitas.
    </p>
    <p class="text-xl mb-4">
        Sejak awal, kami fokus pada keberlanjutan dan membangun hubungan
        yang kuat dengan komunitas petani di sekitar kami.
    </p>
</div>
{% endblock %}