{% extends 'base.html' %}

{% block content %}
<div class="bg-white text-black rounded-lg shadow-md p-8">
    <h1 class="text-4xl font-bold mb-4">Tips and tricks for healthy living</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <h2 class="text-2xl font-semibold mb-4">Konsumsi Makanan Seimbang</h2>
            <ul class="list-disc list-inside">
                <li>Pilih makanan yang kaya nutrisi seperti sayur, buah, protein nabati, dan biji-bijian.</li>
                <li>Kurangi konsumsi makanan olahan, gula, dan lemak jenuh.</li>
                <li>Penuhi kebutuhan serat harian dengan mengonsumsi sayuran hijau dan buah-buahan.</li>
            </ul>
        </div>
        <div>
            <h2 class="text-2xl font-semibold mb-4">Minum Air yang Cukup</h2>
            <ul class="list-disc list-inside">
                <li>Pastikan minum setidaknya 8 gelas air per hari untuk menjaga tubuh tetap terhidrasi.</li>
                <li>Air membantu mengoptimalkan fungsi organ, meningkatkan metabolisme, dan menjaga kulit tetap sehat.</li>
            </ul>
        </div>
        <div>
            <h2 class="text-2xl font-semibold mb-4">"More veggies, less worries."</h2>
            <ul class="list-disc list-inside">
                <a>Makan sayur, tubuh bugar! Sayuran segar membuat hidup lebih sehat, jadi tambahkan warna di piringmu dengan sayur.
                 Lebih banyak sayur, lebih sedikit khawatir, karena makan sayur bikin tubuh kuat dan sehat sepanjang hari.
                Nikmati hidup sehat dengan makan sayuran setiap hari, cintai dirimu dengan memilih makanan yang kaya manfaat.
                Sayuran kecil punya manfaat besar, jadi makanlah sayur dan rasakan segarnya!</a>
            </ul>
        </div>
        <div>
            <h2 class="text-2xl font-semibold mb-4">Rutin Berolahraga</h2>
            <ul class="list-disc list-inside">
                <li>Luangkan waktu minimal 30 menit sehari untuk berolahraga, seperti berjalan kaki, jogging, yoga, atau bersepeda.</li>
                <li>Olahraga membantu menjaga berat badan, meningkatkan kekuatan otot, dan meningkatkan suasana hati.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

